.ios, .md {
  .signup-section {
    text-align: center;
  }

  .item-input ion-label {
    width: 45px;
  }

  .signup-section label {
    opacity: .5;
  }

  .social-btns ion-icon {
    margin-left: 10px;
    font-size: 26px;
  }
}
